Projeweb/tema/* linguist-vendored
Projeweb/temaAdmin/* linguist-vendored
packages/* linguist-vendored
Projeweb/Scripts/* linguist-vendored
Projeweb/Content/* linguist-vendored
Projeweb/tema/scss/* linguist-vendored
Projeweb/temaAdmin/scss/* linguist-vendored